@font-face {
  font-family: Stranger;
  src: url("../assets/font/BenguiatBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INTRO SCREEN */

.intro-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 9999;
}

h2 {
  color: red;
  margin-bottom: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro-screen button {
  padding: 0.5rem 3rem;
  background-color: transparent;
  border: 1px solid red;
  color: red;
  cursor: pointer;
  transition: 0.3s;
}

.intro-screen button:hover {
  box-shadow: 0px 0px 10px red;
}

.title {
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  transform: scale(12);
  animation: scaleMove 30s forwards ease-in-out, fadeOut 5s forwards 33s linear;
}

h1,
h3 {
  font-family: Stranger;
  text-align: center;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.397);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: red;
  font-size: 5rem;
  line-height: 3.5rem;

  text-shadow: 0px 0px 200px #ff0000;
  transform: scale(1, 1.2);
}

h1 {
  letter-spacing: 10rem;
  font-stretch: ultra-condensed;

  margin-bottom: 2rem;
  animation: spacing 25s forwards linear;

  display: flex;
  justify-content: center;
}

#st .large {
  font-size: 7rem;
  margin-top: 10px;
}

.big-line {
  width: 600px;
  height: 10px;
  border: 3px solid red;
  border-radius: 15px;
  margin-bottom: 2rem;
  transform: scale(0);
  animation: scale1 2s forwards 31s;
}

.small-line {
  width: 120px;
  height: 10px;
  border: 3px solid red;
  border-radius: 15px;
  margin-bottom: 3rem;

  transform: scale(0);
  animation: scale1 1s forwards 32s;
}

.left {
  transform-origin: right;
}

.right {
  transform-origin: left;
}

.flex-row {
  display: flex;

  justify-content: center;
}

.moveDown {
  transform: translateY(-100px);
  animation: down 33s forwards ease-in-out;
}

.moveUp {
  transform: translateY(250px);
  animation: down 33s forwards ease-in-out;
}

@keyframes scaleMove {
  to {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes down {
  to {
    transform: translateY(0);
  }
}
@keyframes spacing {
  from {
    letter-spacing: 10rem;
  }

  to {
    letter-spacing: -4px;
  }
}

@keyframes scale1 {
  to {
    transform: scale(1);
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* Random letters */
.random-letters {
  display: flex;
  justify-content: center;
}

.random-letters h3 {
  -webkit-text-stroke-width: 2px;
  position: absolute;

  text-shadow: 0px 0px 300px #ff0000;
}

.A {
  opacity: 0;
  font-size: 50rem;
  transform: translate(750px, 2000px) scale(30);
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  /* transform: translateY(1000px) scale(50); */
  animation: zoomOutScale 30s forwards 3.5s;
  transition: all 1s;
}

.S {
  opacity: 1;
  font-size: 10rem;
}

#N-large {
  opacity: 0;
  transform: translate(500px, -500px) scale(25);
  animation: moveN 20s forwards 15s linear;
}

@keyframes zoomOutScale {
  0% {
    opacity: 1;
    font-size: 50rem;
    transform: translate(850px, 2000px) scale(30);
    transform-origin: center center;
  }

  45% {
    opacity: 0;
  }
  70% {
    transform-origin: center center;
    opacity: 0;

    transform: scale(1);
  }
  100% {
    transform-origin: center center;
    opacity: 0;

    transform: scale(1);
  }
}

@keyframes moveN {
  0% {
    opacity: 0.8;
    transform: translate(500px, -500px) scale(25);
  }

  50% {
    opacity: 0.2;
    transform: translate(500px, 300px) scale(25);
  }

  100% {
    opacity: 0;
    transform: translate(500px, 300px) scale(25);
  }
}

@keyframes glow {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveRight {
  50% {
    opacity: 1;
    transform: translate(550px, -650px) scale(4);
  }
  100% {
    transform: translate(650px, -650px) scale(4);
    opacity: 0;
  }
}
