* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Columbia;
  src: url("./assets/font/columbia_by_629lyric-d9f36mr.ttf");
}

body {
  overflow: hidden;
  font-family: Columbia;
  background-color: black;
}
header {
  height: 100vh;
  width: 100%;
}

.img {
  position: absolute;
}

video {
  margin-top: -100px;
}
.sky {
  
  /* background-image: url('./assets/images/Sky.jpg'); */
  min-height: 100vh;
  min-width: 100%;

  transform: scale(2);
  /* animation: zoomOut 5s forwards; */
  z-index: 5;
}
.lady {
  background-image: url("./assets/images/Lady.png");
  height: 200vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  transform: translateY(100vh) scale(2);
  z-index: 7;
  /* animation: slideUp 8s forwards 1s; */
}

.light-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: absolute;
  top: 0;
  background-color: black;
  animation: fadeOut 10s forwards 2s;
}

/* .light {
  background-color: rgb(255, 255, 255);
  transform: translateY(0);
  height: 400px;
  width: 400px;

  position: relative;
  z-index: 5;
  box-shadow: 1px 1px 100px 200px white;

  /* animation: boom 10s forwards 3s;
  transition: all 1s;
}  */
 
.rays {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50px, -50vh);
}

.ray {
  transform: translateY(0);
  height: 2000px;
  width: 2px;
  box-shadow: 10px 10px 100px 10px rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border: 100%;

  transition: all 1s;
}

.ray1 {
  transform: rotate(140deg);
  /* animation: rays 2s infinite; */
}

.ray2 {
  transform: rotate(-140deg);
  /* animation: rays 4s infinite; */
}

.ray3 {
  transform: rotate(75deg);
  /* animation: rays 6s infinite; */
}

.ray4 {
  transform: rotate(-75deg);
  /* animation: rays 8s infinite; */
}

.ray5 {
  transform: rotate(120deg);
  /* animation: rays 10s infinite; */
}

.ray6 {
  transform: rotate(100deg);
  /* animation: rays 10s infinite; */
}

.ray7 {
  transform: rotate(-100deg);
  /* animation: rays 10s infinite; */
}

.ray8 {
  transform: rotate(10deg);
  /* animation: rays 10s infinite; */
}

.ray9 {
  transform: rotate(-10deg);
  /* animation: rays 10s infinite; */
}

@keyframes zoomOut {
  from {
    transform: scale(3);
  }

  to {
    transform: scale(1);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100vh) scale(2);
  }

  to {
    transform: translateY(-50vh) scale(0.5);
  }
}

@keyframes boom {
  from {
    transform: scale(2);
  }

  to {
    width: 100px;
    height: 100px;
    transform: translate(-50px, -50vh) scale(0.6);
  }

  /* 0%{
        height: 500px;
        width: 500px;
    
      
    }

    50%{
        height: 1000px;
        width: 1000px;
    }


    100%{
        height: 100px;
        width:100px;
        transform: translate( -50px, -50vh)  scale(0.6);
    } */
}

@keyframes rays {
  0% {
    height: 2000px;
  }

  50% {
    height: 1000px;
  }

  100% {
    height: 2000px;
  }
}

@keyframes fadeOut {
  from {
    background-color: black;
  }
  to {
    background-color: transparent;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  flex-direction: column;
  color: white;
}

button {
}

/* main {
  display: none;
} */

.active {
  display: block;
}

.hide {
  display: none;
}

.parallex-group h1 {
  position: absolute;
  z-index: 6;
  text-align: center;
  width: 100%;
  margin-top: 80px;
  font-size: 10rem;

  color: rgb(243, 243, 243);
  letter-spacing: 10px;
  font-size: 13em;
  font-weight: 700;

  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}



/* Rainbow */

.rainbow-box{
  position: absolute;
  z-index:9999;
  width:1000px;
  height: 300px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  top:0
}


